<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.tsagi.jekyllforandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="gr.tsagi.jekyllforandroid.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="gr.tsagi.jekyllforandroid.NewPostActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/action_newpost" >
        </activity>
        <activity
            android:name="gr.tsagi.jekyllforandroid.PreviewMarkdownActivity"
            android:label="@string/title_activity_markdown" >
        </activity>
        <activity
            android:name="gr.tsagi.jekyllforandroid.ActionActivity"
            android:label="@string/title_activity_action" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="gr.tsagi.jekyllforandroid.PostsListActivity"
            android:label="@string/title_activity_posts_list" >
        </activity>
    </application>

</manifest>